export GREYMATTER_REGISTRY=greymatter.jfrog.io
export GREYMATTER_REGISTRY_USERNAME=nate.eagle@greymatter.io
export GREYMATTER_REGISTRY_PASSWORD=cmVmdGtuOjAxOjE3MTY0NzMwMTQ6bjB0Y1BKWFpLWVZvZjQ0dVRxdkVxY2Y2enJM
export PRIVATE_KEY=$(echo ~/).ssh/id_ed25519
export PRIVATE_KEY_PASSWORD="no man is an island"

